<a href="https://colab.research.google.com/github/seojihyuk26/EarthquakePredictor/blob/main/earthquakePredictor_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import itertools
import os

import matplotlib.pylab as plt
import numpy as np

import tensorflow as tf
import tensorflow_hub as hub

print("TF version:", tf.__version__)
print("Hub version:", hub.__version__)
print("GPU is", "available" if tf.config.list_physical_devices('GPU') else "NOT AVAILABLE")

TF version: 2.9.2
Hub version: 0.12.0
GPU is NOT AVAILABLE

In [4]:
import pandas as pd

In [7]:
pd.read_csv('/content/drive/MyDrive/earthquake1900.csv')

                           time  latitude  longitude   depth   mag
0      2022-12-28T16:34:20.446Z  -21.2622   171.3631  10.000  6.00
1      2022-12-20T10:34:24.770Z   40.5250  -124.4230  17.910  6.37
2      2022-12-14T18:40:26.902Z   51.6382   178.6190  73.000  6.30
3      2022-12-14T18:40:26.778Z   51.6199   178.6159  73.000  6.30
4      2022-12-11T14:31:29.703Z   17.2565  -100.4369  18.346  6.00
...                         ...       ...        ...     ...   ...
13818  1902-11-17T19:50:00.000Z   37.4000  -113.5000     NaN  6.30
13819  1902-01-01T05:20:30.000Z   52.3800  -167.4500     NaN  7.00
13820  1901-12-31T09:02:30.000Z   51.4500  -171.0200     NaN  7.10
13821  1901-12-30T22:34:00.000Z   52.0000  -160.0000     NaN  7.00
13822  1901-03-03T07:45:00.000Z   36.0000  -120.5000     NaN  6.40

[13823 rows x 5 columns]